<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
	<system.webServer>
		
		<!-- ### Start IIS-Node specific settings (DO NOT CHANGE) ### -->
		<handlers>
			<add name="iisnode" path="run-sandbox.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="StaticContent">
					<action type="Rewrite" url="public{REQUEST_URI}" />
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="run-sandbox.js" />
				</rule>
			</rules>
		</rewrite>
		
		<iisnode
			nodeProcessCommandLine="C:\DWASFiles\Sites\nodejstesthr\VirtualDirectory0\site\wwwroot\node.exe"
			debuggingEnabled="false"
			logDirectory="..\..\LogFiles\nodejs"
			watchedFiles="*.js;iisnode.yml;node_modules\*;views\*.jade;views\*.ejb;routes\*.js"
		/>
		<!-- ### End IIS-Node specific settings (DO NOT CHANGE) ### -->
		
	</system.webServer>
</configuration>